// fonts
$font-main: "Press Start 2P", cursive;
$font-size: 16px;

// colors
$color-polarNight-darkest: #2e3440;
$color-polarNight-dark: #3b4252;
$color-polarNight-bright: #434c5e;
$color-polarNight-brightest: #4c566a;
$color-snowStorm-bright: #d8dee9;
$color-snowStorm-brighter: #e5e9f0;
$color-snowStorm-brightest: #eceff4;
$color-frost-aqua: #8fbcbb;
$color-frost-turquoise: #88c0d0;
$color-frost-grayBlue: #81a1c1;
$color-frost-bluest: #5e81ac;
$color-aurora-red: #bf616a;
$color-aurora-orange: #d08770;
$color-aurora-yellow: #ebcb8b;
$color-aurora-green: #a3be8c;
$color-aurora-purple: #b48ead;
