body {
  font-family: $font-main;
  background-color: $color-polarNight-brightest;
  font-size: $font-size;
  color: $color-snowStorm-brighter;
}

.main {
  z-index: 2;
  min-height: 55vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  &__small {
    z-index: 2;
    align-self: center;
    justify-self: center;
    color: $color-frost-bluest;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  & ul {
    z-index: 2;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 220px;
    & li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $color-frost-bluest;
      border-radius: 25px;
      & p {
        min-height: 7rem;
        max-width: 205px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & img {
        width: 220px;
        border-radius: 0 0 25px 25px;
      }
    }
  }
}
@include tablet {
  .main {
    & ul {
      grid-template-columns: 220px 220px 220px;
    }
  }
}
@include desktop {
  .main {
    & ul {
      grid-template-columns: 220px 220px 220px 220px;
    }
  }
}
