.hero {
  display: flex;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  & h1 {
    z-index: 2;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 20px 0;
  }
}

@include tablet {
  .hero {
    h1 {
      font-size: 3rem;
    }
  }
}
